* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: Arial;
	font-size: 16px;
	display: flex;
	min-height: 100%;
	background-color: rgba(24,20,25,1);
	line-height: 100%;
	color: white;
}
div,body {
	border-color: rgb(0,175,139);
	border-style: solid;
	border-width: 0px;
	flex: 10;
}
.container.top_border > div {
	border-top-width: 3px;
}
.container.bottom_border > div,div.flex.container.row > div {
	border-bottom-width: 3px;
}
.container.left_border > div {
	border-left-width: 3px;
}
.container.right_border > div,div.flex.container.column > div {
	border-right-width: 3px;
}
.container > div:last-child {
	border-width: 0px !important;
}
.flex.container {
	align-items: stretch;
	display: flex;
}
.flex.container.column {
	flex-direction: row;
}
.flex.container.row {
	flex-direction: column;
}
.module {
	padding: 20px;
}
input {
	margin: 0px;
	font-size: inherit;
}
button {
	background: none;
	border: none;
	font-size: inherit;
}

.button1,.button2 {
	transition: 0.2s;
}
.button1,.button2 {
	margin: 0px;
}
.button1 {
	padding: 10px;
	border: 3px solid rgb(0,175,139);
	border-radius: 4px;
	text-align: center;
	vertical-align: middle;
	background: none;
	color: white;
}
.button1:hover {
	background: rgb(0,175,139);
}
.button1:active {
	background: white;
	border-color: white;
}
.button2 {
	padding: 10px;
	border: 3px solid red;
	border-radius: 4px;
	text-align: center;
	vertical-align: middle;
	background: red;
	color: white;
}
.button2:active {
	background: white;
	border-color: white;
}
