body {
	border-width: 3px;
}
div.sidebar {
	min-width: 200px;
	max-width: 300px;
}
div.sidebar p {
	margin: 0;
	margin-bottom: 20px;
}
div.sidebar p:last-child {
	margin-bottom: 0px;
}
div.sidebar label {
	display: block;
}
div.sidebar input[value="Standby"] {color: yellow;}
div.sidebar input[value="Go"] {color: green;}
div.sidebar input[value="Stop"] {color: red;}
div.sidebar > div {
	padding: 20px;
}
div.sidebar > div.secondary {
	border-top-width: 3px;
}
div.sidebar > div.tertiary {
	padding-top: 0px;
}
div.sidebar input {
	background: none;
	border: none;
	width: 65px;
	display: inline-block;
	padding: 0px;
}
div.sidebar input.coupler {
	width: 100%;
	margin: 5px 0px;
}
div.sidebar input.coupler::placeholder {
	content: "Missing Value"
}
div.sidebar .button1 {
	width: 100%;
}
div.block_label {
	font-size: 26px;
	text-align: center;
	margin-bottom: 20px;
}
div.launch_controls {
	flex: 4;
}
div.launch_controls .full_height {
	height: 200px;
}
div.launch_controls > .sub_module {
	float: left;
	margin-right: 10px;
}
div.launch_controls > .sub_module > * {
	float: left;
	width: 100%;
}
div.launch_controls .button_group_1,div.launch_controls .button_group_2 {
	width: 200px;
}
#fill,#vent {
	width: 49%;
}
#vent {
	float: right;
}
#abort,div.launch_controls .button_group_1 {
	width: 200px;
}
#arm_igniter {
	height: 100px;
}
