body {
	align-items: stretch;
	border-width: 3px;
}
div.sidebar {
	min-width: 200px;
	max-width: 300px;
	border-right-width: 3px;
	flex: 1;
}
div.sidebar p {
	margin: 0;
	margin-bottom: 20px;
}
div.sidebar p:last-child {
	margin-bottom: 0px;
}
div.sidebar label {
	display: block;
}
div.sidebar input[value="Standby"] {color: yellow;}
div.sidebar input[value="Go"] {color: green;}
div.sidebar input[value="Stop"] {color: red;}
div.sidebar > div {
	padding: 20px;
}
div.sidebar > div.secondary {
	border-top-width: 3px;
}
div.sidebar > div.tertiary {
	padding-top: 0px;
}
div.sidebar input {
	background: none;
	border: none;
	width: 65px;
	display: inline-block;
	padding: 0px;
}
div.sidebar input.coupler {
	width: 100%;
	margin: 5px 0px;
}
div.sidebar input.coupler::placeholder {
	content: "Missing Value"
}
div.sidebar .button1 {
	width: 100%;
}
div.launch-controls {}
div.main {
	flex: 1;
	display: flex;
	align-items: stretch;
	flex-direction: column;
}
div.main > div {
	/*height: 33%;*/
	border-bottom-width: 3px;
	display: flex;
	flex: 1;
}
div.main > div:last-child {
	border-bottom-width: 0px;
}
div.main > div > div {
	align-items: stretch;
	flex-direction: column;
	border-right-width: 3px;
	flex: 1;
	/*width: 50%;*/
}
div.main > div > div:last-child {
	border-width: 0px;
}
div.block_label {
	font-size: 26px;
	text-align: center;
	padding: 10px;
}
